{% extends 'base.html' %}
{% from 'macros.html' import qux %}

{% block content %}
{% set name='baz' %}
<h1>2019学年经管学部科创项目展示</h1>
<h3>基于深度学习的多元音乐风格编曲系统</h3>
<h5>一、项目信息</h5>
<ul>
    <li><a href="{{ url_for('introduction') }}">项目内容简介</a></li>
    <li>小组成员：耿远昊、李铮驭、谭昕玥、周绮璐、罗冰莲</li>
</ul>
<h5>二、网络入口</h5>
<ul>
    <li><a href="{{ url_for('net_Choral') }}">Choral Net</a> &#9833;</li>
    <li><a href="{{ url_for('net_Jazz') }}">Jazz Net</a> &#9834;</li>
    <li><a href="{{ url_for('net_Pop') }}">Pop Net</a> &#9835;</li>
    <li><a href="{{ url_for('net_Fugue') }}">Fugue Net</a> &#9836;</li>
</ul>
{% endblock %}
